@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');


.App {
  text-align: center;
}

h1{
  font-family:"Lato", sans-serif;
}

h2,h3,h4{
  font-family: "Montserrat", sans-serif;
}

p, li{
  font-family: "Open Sans", sans-serif;
}

button{
  font-family: "Oswald", sans-serif;
  color:white;
  text-transform: uppercase
}

.portada-img{
  width: 100%;
  height: 500px;
  background-image: url(https://assets.nicepagecdn.com/d2cc3eaa/275409/images/woman-smiling-v2.png);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat
}